<div class="toolbar">
        
    <button title="clear all pixels" mat-icon-button mat-stroked-button (click)="clear()"><mat-icon>clear</mat-icon> </button>

    <button title="shift left" mat-icon-button mat-stroked-button (click)="left()"><mat-icon>arrow_left</mat-icon> </button>
    <button title="shift up" mat-icon-button mat-stroked-button (click)="up()"><mat-icon>arrow_drop_up</mat-icon> </button>
    <button title="shift down" mat-icon-button mat-stroked-button  (click)="down()"><mat-icon>arrow_drop_down</mat-icon></button>
    <button title="shift right" mat-icon-button mat-stroked-button (click)="right()"><mat-icon>arrow_right</mat-icon></button>

    <button title="flip vertically" mat-icon-button mat-stroked-button (click)="flipVertical()"><mat-icon>arrow_right</mat-icon></button>
    <button title="flip horizontally" mat-icon-button mat-stroked-button (click)="flipHorizontal()"><mat-icon>arrow_right</mat-icon></button>

    <button title="save to original location" mat-icon-button mat-stroked-button (click)="save()"><mat-icon>save</mat-icon></button>


</div>
<div>
<app-sprite-editor-row [words]="words" [row]="0" (valueChanged)="onValueChanged($event)"   ></app-sprite-editor-row>
<app-sprite-editor-row [words]="words" [row]="1" (valueChanged)="onValueChanged($event)" ></app-sprite-editor-row>
<app-sprite-editor-row [words]="words" [row]="2" (valueChanged)="onValueChanged($event)" ></app-sprite-editor-row>
<app-sprite-editor-row [words]="words" [row]="3" (valueChanged)="onValueChanged($event)" ></app-sprite-editor-row>
<app-sprite-editor-row [words]="words" [row]="4" (valueChanged)="onValueChanged($event)" ></app-sprite-editor-row>
<app-sprite-editor-row [words]="words" [row]="5" (valueChanged)="onValueChanged($event)" ></app-sprite-editor-row>
<app-sprite-editor-row [words]="words" [row]="6" (valueChanged)="onValueChanged($event)" ></app-sprite-editor-row>
<app-sprite-editor-row [words]="words" [row]="7" (valueChanged)="onValueChanged($event)" ></app-sprite-editor-row>
<app-sprite-editor-row [words]="words" [row]="8" (valueChanged)="onValueChanged($event)" ></app-sprite-editor-row>
<app-sprite-editor-row [words]="words" [row]="9" (valueChanged)="onValueChanged($event)" ></app-sprite-editor-row>
<app-sprite-editor-row [words]="words" [row]="10" (valueChanged)="onValueChanged($event)" ></app-sprite-editor-row>
<app-sprite-editor-row [words]="words" [row]="11" (valueChanged)="onValueChanged($event)" ></app-sprite-editor-row>
<app-sprite-editor-row [words]="words" [row]="12" (valueChanged)="onValueChanged($event)" ></app-sprite-editor-row>
<app-sprite-editor-row [words]="words" [row]="13" (valueChanged)="onValueChanged($event)" ></app-sprite-editor-row>
<app-sprite-editor-row [words]="words" [row]="14" (valueChanged)="onValueChanged($event)" ></app-sprite-editor-row>
<app-sprite-editor-row [words]="words" [row]="15" (valueChanged)="onValueChanged($event)" ></app-sprite-editor-row>
</div>