<div>
<app-sprite-editor-row [wordValue]="words[0]" (valueChanged)="onValueChanged($event)"  (valueChanged)="onValueChanged($event)"  ></app-sprite-editor-row>
<app-sprite-editor-row [wordValue]="words[1]" (valueChanged)="onValueChanged($event)" ></app-sprite-editor-row>
<app-sprite-editor-row [wordValue]="words[2]" (valueChanged)="onValueChanged($event)" ></app-sprite-editor-row>
<app-sprite-editor-row [wordValue]="words[3]" (valueChanged)="onValueChanged($event)" ></app-sprite-editor-row>
<app-sprite-editor-row [wordValue]="words[4]" (valueChanged)="onValueChanged($event)" ></app-sprite-editor-row>
<app-sprite-editor-row [wordValue]="words[5]" (valueChanged)="onValueChanged($event)" ></app-sprite-editor-row>
<app-sprite-editor-row [wordValue]="words[6]" (valueChanged)="onValueChanged($event)" ></app-sprite-editor-row>
<app-sprite-editor-row [wordValue]="words[7]" (valueChanged)="onValueChanged($event)" ></app-sprite-editor-row>
<app-sprite-editor-row [wordValue]="words[8]" (valueChanged)="onValueChanged($event)" ></app-sprite-editor-row>
<app-sprite-editor-row [wordValue]="words[9]" (valueChanged)="onValueChanged($event)" ></app-sprite-editor-row>
<app-sprite-editor-row [wordValue]="words[10]"  (valueChanged)="onValueChanged($event)" ></app-sprite-editor-row>
<app-sprite-editor-row [wordValue]="words[11]"  (valueChanged)="onValueChanged($event)" ></app-sprite-editor-row>
<app-sprite-editor-row [wordValue]="words[12]"  (valueChanged)="onValueChanged($event)" ></app-sprite-editor-row>
<app-sprite-editor-row [wordValue]="words[13]"  (valueChanged)="onValueChanged($event)" ></app-sprite-editor-row>
<app-sprite-editor-row [wordValue]="words[14]"  (valueChanged)="onValueChanged($event)" ></app-sprite-editor-row>
<app-sprite-editor-row [wordValue]="words[15]"  (valueChanged)="onValueChanged($event)" ></app-sprite-editor-row>
</div>